body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#quote-box {
  width: 550px;
  background-color: #fff;
  padding: 40px 50px 40px;
}

#text {
  font-size: 28px;
}

.fa-solid.fa-quote-left:before {
  font-size: 28px;
}

#author::before {
  content:"-";
  padding: 0 5px;
}







